@{
    string[] fields = ["", "Id", "Image", "Name", "Price", "Description", "Category", ""];
}

<table class="record-table">
    <thead>
        <tr>
            @foreach (var f in fields)
            {
                string d = "asc";
                string c = "";

                if (f == ViewBag.Sort)
                {
                    d = ViewBag.Dir == "des" ? "asc" : "des";
                    c = ViewBag.Dir;
                }

                <th>
                    @if (!string.IsNullOrEmpty(f))
                    {
                        <a href="?name=@ViewBag.Name&price=@ViewBag.Price&sort=@f&dir=@d" class="@c">@f</a>
                    }
                </th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@s.Id" class="category-checkbox" />
                </td>
                <td>@s.Id</td>
                <td>
                    <img src="~/uploads/@s.Photo" style="width:80px; height:80px;" alt="Food Image" />
                </td>
                <td>@s.Name</td>
                <td>@s.Price</td>
                <td>@s.Description</td>
                <td>@s.CategoryId</td>
                <td>
                    <div class="edit-remove-group">
                        <a asp-controller="Food" asp-action="EditFood" asp-route-id="@s.Id" class="edit-ingredient">Update</a>
                        <a href="javascript:void(0);" class="remove-ingredient delete-category btn btn-link" data-id="@s.Id">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="restock-button">
    <a asp-controller="Food" asp-action="CreateFood" class="create-ingredient">Add New</a>
    <button type="button" class="remove-check-ingredient">Delete Selected</button>
</div>
