@model WSM.Models.OrderDetail

@{
    ViewBag.Title = "Order Details";
}

<p>
    @* <img src= maybe use logo or not implement> *@
</p>

<table class="table detail">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Tables</th>
        <td>@Model.SeatNo</td>
    </tr>
    <tr>
        <th>Food</th>
        <td>@Model.Foods</td>
    </tr>

    <tr>
        <th>Quantity</th>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <th>Total Price</th>
        <td>@Model.TotalPrice</td>
    </tr>
    <tr>
        <th>Order Date</th>
        <td>@Model.OrderDate</td>
</table>

<p>
    <div class="return-OrderHistory">
        <button class="return-OrderHistory" onclick="window.location.href='OrderHistory.cshtml'">Return</button>
    </div>
</p>